@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200');
*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-family: Raleway;
}
body{
    background-color: #AECBD6;
    min-width: none;
}
#home-button{
    width: 100px;
    height: 100px;
    margin: inherit;
    display: block;
    margin-top: 25%;

}
input#home-button{
    font-size: 20px;
}
